{% extends 'e_akta/base.html' %}
{% block content %} <h1>Widok sprawy</h1>
 <div class="dashboard-header m-6">
                    <div class="dashboard-menu">
                        {% if perms.e_akta.add_file %}
                        <div class="menu-item border-dashed">
                            <a href={% url "upload" %}>
                                <i class="far fa-plus-square icon-plus-square"></i>
                                <button type="button" class="btn btn-primary rounded-0">Dodaj plik</span></button>
                            </a>
                        </div>
                        {% endif %}


                </div>
                <div class="m-4 p-4 border-dashed">
                        <table class="table">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-3"><span>Nazwa pliku</span></th>
                                <th class="col-3"><span>Opis pliku</span></th>
                                <th class="col-2"><span>Data utworzenia</span></th>
                                <th class="col-3"><span>Data modyfikacji</span></th>
                                <th class="col-2"></th>
                            </tr>
                        </thead>
                         <tbody>
                         {% for file in file %}
                            <tr class="d-flex">
                                <td class="col-3">{{ file.name }}</td>
                                <td class="col-3">{{ file.description }}</td>
                                <td class="col-2">{{ file.date_created }}</td>
                                <td class="col-3">{{ file.date_updated }}</td>
                            {% if perms.e_akta.delete_file %}
                                <td class="col-2"><button type="button" class="btn btn-primary rounded-0" onclick="location.href='/delete/{{ file.id }}'">Usuń plik</button></td>
                            {% endif %}
                                <td class="col-2"><button type="button" class="btn btn-primary rounded-0" onclick="location.href='/download/{{ file.id }}'">Pobierz plik</button></td>
                                </tr>
                            {% endfor %}
                         </tbody>
                        </table>
                </div>
{% endblock %}