{% extends 'e_akta/base.html' %}
{% block content %}
 <div class="dashboard-header">
     <div class="row border-bottom border-3 p-1 m-1">
     <div class="col noPadding"><h3 class="color-header text-uppercase">E-akta</h3></div>
         {% if perms.e_akta.add_case %}
        <div class="col noPadding d-flex justify-content-end mb-2"><a
                href="{% url 'add-case' %}"
                class="btn btn-primary rounded-0">Dodaj sprawę</a></div>
                 {% endif %}
        <div class="col noPadding d-flex justify-content-end mb-2"><a
                href="{% url 'employee-logout' %}" class="btn btn-primary rounded-0">Wyloguj</a></div>
    </div>
                </div>
                <div class="m-4 p-4 border-dashed">
                        <table class="table">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-2"><span>Identyfikator sprawy</span></th>
                                <th class="col-3"><span>Nazwa sprawy</span></th>
                                <th class="col-3"><span>Opis sprawy</span></th>
                                <th class="col-2"><span>Stan sprawy</span></th>
                                <th class="col-2"><span>Kategoria sprawy</span></th>
                                <th class="col-2"></th>
                            </tr>
                        </thead>
                         <tbody>
                         {% for case in cases %}
                             {% if request.user.id == case.user_id or user.is_superuser %}
                            <tr class="d-flex">
                                <td class="col-2">{{ case.id }} </td>
                                <td class="col-3">{{ case.name }}</td>
                                <td class="col-3">{{ case.description }}</td>
                                <td class="col-2">{{ case.status }}</td>
                                <td class="col-2">{{ case.category }}</td>
                                <td class="col-2"><button type="button" class="btn btn-primary rounded-4" onclick="location.href='/case/{{ case.id }}'">Szczegóły sprawy</button></td>
                                <td class="col-2"><button type="button" class="btn btn-primary rounded-4" onclick="location.href='/case/{{ case.id }}'">Zaproś klienta</button></td>
                             {% endif %}
                             {% if user.is_superuser %}
                             <td class="col-2"><button type="button" class="btn btn-primary rounded-4" onclick="location.href='/edit_case/{{ case.id }}'">Edytuj sprawę</button></td>
                             {% endif %}
                         </tr>
                         {% endfor %}
                         </tbody>
                        </table>
                </div>
{% endblock %}